<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Formulaire de Modification de Mecanicien</h6>
         
        </div>
        <!-- Card Body -->
        <div class="card-body">
          
          <div class="example-container">
            <div class="row">
              
              <div class="col-md-10">
                <form [formGroup]="this.mecanicienservice.formdata">
                  <div class="form-group">
                    <input
                      style="text-transform:capitalize"
                      class="form-control border-dark"
                      placeholder="Mecano ID"
                      formControlName="id"
                      id="id"
                      
                      type="hidden"
                    />
                  </div>
  
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="vat">Nom</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="Tine"
                        formControlName="nom"
                        id="nom"
                        type="text"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Prenom</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="Assane"
                        formControlName="prenom"
                        id="prenom"
                        type="text"
                      />
                    </div>
                   
                    <div class="form-group col-md-6">
                      <label for="vat">Adresse</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="Medina rue 41X28"
                        formControlName="address"
                        id="address"
                        type="text"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">mail</label
                      ><input
                        style="text-transform:lowercase"
                        class="form-control border-dark"
                        placeholder="chauffeurml@gmail.com"
                        formControlName="mail"
                        id="mail"

                        type="email"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Numero Telephone</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="+221 778956432"
                        formControlName="numtel"
                        id="numtel"
                        type="text"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Password par defaut</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="paalioune"
                        formControlName="password"
                        id="password"
                        type="password"
                      />
                    </div>
                  </div>
  
                  
  
                  <div class="row">
                    <div class="form-group col-md-6">
                      <button
                      class="btn btn-square btn-block btn-primary"
                      type="button" 
                    > <i class="fa fa-database"></i>
                      SAVE
                    </button>
                    </div>
                    <div class="form-group col-md-6">
                      <button
                        class="btn btn-square btn-block btn-danger"
                        type="button" 
                      >
                        RESET
                      </button>
                    </div>
                  </div>
              
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Pie Chart -->
 
  </div>
