<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Liste Vehicules</h6>
         
        </div>
        <!-- Card Body -->
        
        <div class="container ">
          <div style="margin-top: 10px;">

            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            
             
             
              <div class="mat-elevation-z8">
             
                <table mat-table [dataSource]="dataSource" matSort>
  
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                  </ng-container>

                                    <!-- ID Column -->
                  <ng-container matColumnDef="matricule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
                    <td mat-cell *matCellDef="let row"> {{row.matricule}} </td>
                  </ng-container>

                  <!--<ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                    <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
                  </ng-container>-->

                  <ng-container matColumnDef="numerosasi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N° de Sasi </th>
                    <td mat-cell *matCellDef="let row"> {{row.numerosasi}} </td>
                  </ng-container>

                  <ng-container matColumnDef="numcartegrise">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Cartegrise </th>
                    <td mat-cell *matCellDef="let row"> {{row.numcartegrise}} </td>
                  </ng-container>



                  <ng-container matColumnDef="nombreplaces">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Places </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombreplaces}} </td>
                  </ng-container>

                  <ng-container matColumnDef="tarifs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarifs/Jours </th>
                    <td mat-cell *matCellDef="let row"> {{row.tarifs}} </td>
                  </ng-container>

                  <ng-container matColumnDef="typecarburant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de Carburant </th>
                    <td mat-cell *matCellDef="let row"> {{row.typecarburant}} </td>
                  </ng-container>

                  <ng-container matColumnDef="etatVehicule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.etatVehicule}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row"> 
                      <button mat-icon-button color="primary" (click)="updtaeVehiculeDialog()">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                    </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow> 
                    <td class="mat-cell" colspan="10">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

              </div>

              </div>

        </div>
      </div>
    </div>

    <!-- Pie Chart -->
 
  </div>
