<div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form [formGroup]="this.loginservice.formDatas" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"> </i>
            <input type="text" class="form-control"  formControlName="mail" id="mail" placeholder="Username" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" class="form-control"  formControlName="password" id="password" placeholder="Password"  required/>
          </div>
         <button
                      class="btn btn-square btn-block btn-primary"
                      type="button" (click)="login()"
                    > <i class="fa fa-database"></i>
                      Login
                    </button>
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
        
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
            ex ratione. Aliquid!
          </p>
          <button class="btn transparent" id="sign-up-btn" routerLink="/signin">
            Sign up
          </button>
        </div>
        <img src="../../../assets/img/img/log.svg" class="image" alt="" />
      </div>
     
    </div>
  </div>

 
