<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebarchauffeur></app-sidebarchauffeur>
    
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
    
        <!-- Main Content -->
        <div id="content">
    
         <app-navbarchauffeur></app-navbarchauffeur>
    
          <!-- Begin Page Content -->
          <div class="container-fluid">
    
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
           </div>
    
           
    
           <router-outlet></router-outlet>
    
           
    
          </div>
          <!-- /.container-fluid -->
    
        </div>
        <!-- End of Main Content -->
    
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>RIEN NE REMPLACE L'EXPERT  COPYRIGHT &copy; SENFLOTTEAUTOMOBILE 2022</span>
           </div>
          </div>
        </footer>
        <!-- End of Footer -->
    
      </div>
      <!-- End of Content Wrapper -->
    
    </div>
    <!-- End of Page Wrapper -->
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#" data-dismiss="modal">Logout</a>
          </div>
        </div>
      </div>
    </div>
  