 
    <!-- Debut Header   -->

    <header class="header_area">
      <div class="main-menu">
          <nav class="navbar bg-white   navbar-expand-lg navbar-light shadow static-top">
              <a class="navbar-brand Sfautomobile" href="#"><img src="./img/logo.png" >SENFLOTTEAUTOMOBILE</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <div class="mr-auto"></div>
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                       
                        </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">A Propos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Nos Services</a>
                      </li>
                     
                      <li class="nav-item">
                          <a class="nav-link" href="#">Nos Vehicules</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">L'entreprise</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">blog</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Contactez-nous</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/signin">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" data-toggle="modal" data-target="#avis">Se connecter</a>
                    </li>

                  </ul>
              </div>
          </nav>
      </div>
  </header>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="avis">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Connectez-vous ici!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: red;">×</span>
          </button>
        </div>
        <div class="modal-body text-center">

            <div class="container col-md-8 justify-content-center">
                <div class="justify-content-center col-lg-12 ">
                
              
                                <form  [formGroup]="this.loginForm">
                                 
                                       
                                        
                                            <div class="card-block">
                                               
                                                <div class="row m-b-20">
                                                    <div class="col-md-12">
                                                        <h3 class="text-center">SE CONNECTER</h3>
                                                    </div>
                                                </div>
                                                <div class="main_input_box">
                                                    
                                                    <span class="add-on bg_lg"><i class="icon-user"> </i></span>
                                                    <input type="text" class="form-control sty1"  id="mail" formControlName="mail" placeholder="Votre email" required>
                                                 </div>
                                              <br>
                                                 <div class="form-group">
                                                    <div class="controls">
                                                      <div class="main_input_box">
                                                          <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                                                          <input type="password" class="form-control sty1"  id="password" formControlName="password" placeholder="votre mots de passe" required> 
                                                   </div>  
                                                    </div>
                                                  </div>
                                                <div class="row m-t-25 text-left">
                                                    <div class="col-12">
                                                        <div class="checkbox-fade fade-in-primary d-">
                                                            <label>
                                                                <input type="checkbox" value="">
                                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                                <span class="text-inverse">Remember me</span>
                                                            </label>
                                                        </div>
                                                        <div class="forgot-phone text-right f-right">
                                                            <a href="auth-reset-password.html" class="text-right f-w-600"> Mots de passe oublier?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t-30">
                                                    <div class="col-md-12">
                                                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20" (click)="login()" >
                                                         Se connecter</button>
                                                    </div>
                                                </div>
                                                <hr/>
                                                
                                            </div>
                                        
                                    </form>
                                
                           
                         
                        
                        </div>
                      
                      </div>
                      
            
            
              
                
         
        </div>
  
          <button type="button" class="btn btn-primary waves-effect waves-light"  data-dismiss="modal">
            Retour

          </button>
  
  
      </div>
    </div>
  </div>

  <!--  fin Header  -->