<!-- Page Wrapper -->
<div id="wrapper">
  
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

     
     <app-navbaracceuil></app-navbaracceuil>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading  <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
       </div>-->
       
    <div class="containers">
      <div class="forms-container">
        <div class="signin-signup">
          
          <form [formGroup]="this.clientservice.formDatas" class="sign-up-form">
           
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nom"  class="form-control border-dark" formControlName="nom"
              />
            </div><div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Prenom"  class="form-control border-dark" formControlName="prenom"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Mail"  class="form-control border-dark" formControlName="mail"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-call"></i>
              <input type="text" placeholder="Tel: +221 77 654 31 34"  class="form-control border-dark" formControlName="numtel"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-angle-up"></i>
              <input type="text" placeholder="Adresse"  class="form-control border-dark" formControlName="address"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password"  class="form-control border-dark" formControlName="password"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Confirmer Password"  class="form-control border-dark" formControlName="cpassword"
              />
            </div>
            <input type="button" class="btn" (click)="inscrire()" value="S'inscrire" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
  
      <div class="panels-container">
       
        <div class="panel right-panel">
           
          <img src="" class="image" alt="" />
        </div>
      </div>
    </div>
  


       
       

       <router-outlet></router-outlet>

       

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>RIEN NE REMPLACE L'EXPERT  COPYRIGHT &copy; SENFLOTTEAUTOMOBILE 2022</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="#" data-dismiss="modal">Logout</a>
      </div>
    </div>
  </div>
</div>
