<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Formulaire d'ajout Vehicules</h6>

      </div>
      <!-- Card Body -->
      <div class="card-body">


        <div class="example-container">
          <div class="row">

            <div class="col-md-10">
              <form [formGroup]="this.vehiculeservice.formDatas">
                <div class="form-group">
                  <input style="text-transform:capitalize" class="form-control border-dark" placeholder="Vehicule ID"
                    formControlName="id" id="id" type="hidden" />
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="vat">Matricule</label>
                    <input style="text-transform:capitalize" class="form-control border-dark" placeholder="DK28567KH"
                      formControlName="matricule" id="matricule" type="text" />
                  </div>

                  <div class="form-group col-md-6">
                    <label>Marque </label>
                    <select class="form-control" formControlName="marque" id="marque">
                      <option value="0">-Select-</option>
                      <option *ngFor="let item of MarqueList" value="{{item.nommarque}}">{{item.nommarque}}</option>
                    </select>
                  </div>


                  <div class="form-group col-md-6">
                    <label for="vat">Numero de sasi</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="345YUU" formControlName="numerosasi" id="numerosasi"
                      type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Numero cartegrise</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="2345YH" formControlName="numcartegrise"
                      id="numcartegrise" type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Date Achat</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="20/03/2022" formControlName="dateAchat"
                      id="dateAchat" type="date" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Designation</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="Rapide " formControlName="designation"
                      id="designation" type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Tarifs par jours</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="30000 " formControlName="tarifs" id="tarifs"
                      type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Model</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="BMW 360" formControlName="model" id="model"
                      type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Annee Model</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="2018" formControlName="anneemodel" id="anneemodel"
                      type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Nombre de places</label>
                    <input style="text-transform:capitalize" class="form-control border-dark" placeholder="5"
                      formControlName="nombreplaces" id="nombreplaces" type="number" />

                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Puissance Km/h</label><input style="text-transform:capitalize"
                      class="form-control border-dark" placeholder="250 " formControlName="puissance" id="puissance"
                      type="text" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="vat">Type de carburant</label>
                    <select class="form-control" formControlName="typecarburant" id="typecarburant">
                      <option value="Essence">Essence</option>
                      <option value="Diesel">Diesel</option>
                      <option value="Melange">Melange</option>

                    </select>
                  </div>



                </div>
                <div class="form-group col-md-6">
                  <label>File Upload </label>
                  <input type="file" accept="image/*" id="image" formControlName="image" [(ngModel)]="image" name="image" (change)="onSelectFile($event)">
                  <img [src]="imgURL" height="200" *ngIf="imgURL">
                </div>
                <div>
                  <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
              </div>
                <div class="form-group">
                  <input class="form-control border-dark" placeholder="En panne/ En mission ..."
                    formControlName="etatVehicule" id="etatVehicule" type="hidden" readonly />
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <button class="btn btn-square btn-block btn-primary" type="button" (click)="imageUploadAction()"> <i class="fa fa-database"></i>
                      SAVE
                    </button>
                  </div>
                  <div class="form-group col-md-6">
                    <button class="btn btn-square btn-block btn-danger" type="button" (click)="resetForm()">
                      RESET
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>