    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Sfautomobile</div>
        </a>
    
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
    
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <!-- Heading <div class="sidebar-heading">
          Vehicules
        </div> -->
       
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Reparations</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Mes reparations:</h6>
              <a class="collapse-item" routerLink="reparerpanne" >REPARER PANNES</a>
              
              <a class="collapse-item" routerLink="maintenance" >MAINTENANCES</a>
              
            </div>
          </div>
        </li>
    
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-folder"></i>
            <span>Declarations</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Gestion des Alertes:</h6>
              <a class="collapse-item" routerLink="dabsencemecano">DEMANDE D'ABSENCE</a>
              
              <a class="collapse-item" routerLink="listdabsencemecano">MES ABSENCES</a>
            </div>
          </div>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <!-- Heading -->
        <div class="sidebar-heading">
          EntreeSortieVehicules
        </div>
    
        <!-- Nav Item - Pages Collapse Menu 
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Gestion Reservation</h6>

              <a class="collapse-item" routerLink="gestionreservation">Voir Reservation</a>
           
              <div class="collapse-divider"></div>
              
              <h6 class="collapse-header">Gestion Mission</h6>
              <a class="collapse-item" routerLink="ajoutmission">Ajout Mission</a>
              <a class="collapse-item" routerLink="listemission">Liste Mission</a>
            </div>
          </div>
        </li>-->
      <!-- Divider -->
     
    
        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" routerLink="mecanodash">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Statistiques</span></a>
        </li>
    
        <!-- Nav Item - Tables  <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>-->
     
    
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    
      </ul>
      <!-- End of Sidebar -->