

<br>
<div class="title-arch">Trouvez la meilleure voiture pour vous : </div><br>


<div class="card-deck">





    <br>
    <div class="col-md-3 col-sm-12">
    <div class="card border-warning" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/img/thumbadm.jpeg" alt="">
  
      <div class="card-body">
        <h6 class="card-header">MINI<br>
                               MINI F56</h6>
  
        <h6 class="card-text" style="font-size:12px!important;">Cooper S 192 ch BVA6 Finition Red Hot Chili</h6>
        <p class="card-text" style="font-size:12px!important;">Essence sans plomb |
        2016 |
      61456 Km</p>
        <p class="card-text"></p><h4>20990.00 €</h4><p></p>
        <img class="img-fluid" src="" alt="" style="max-height:74px; max-width:74px;">
        <a class="btn btn-secondary" href="vehicle/vue_vehicle.php?reference=9u0sqw3o" role="button">Voir details vehicule</a>
  
      </div>
    </div>
    <br>
  </div>
  <br>
  
  
  
  
  
  
  
    <br>
    <div class="col-md-3 col-sm-12">
    <div class="card border-warning" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/img/thumbadm.jpeg" alt="">
  
      <div class="card-body">
        <h6 class="card-header">PEUGEOT<br>
                               5008</h6>
  
        <h6 class="card-text" style="font-size:12px!important;">1.6 THP 156ch BVA6 Premium Pack 5pl A</h6>
        <p class="card-text" style="font-size:12px!important;">Essence sans plomb |
        2011 |
      139033 Km</p>
        <p class="card-text"></p><h4>9990.00 €</h4><p></p>
        <img class="img-fluid" src="vehicle/garantit1.png" alt="" style="max-height:74px; max-width:74px;">
        <a class="btn btn-secondary" href="vehicle/vue_vehicle.php?reference=2kq38pdyu" role="button">Voir details vehicule</a>
  
      </div>
    </div>
    <br>
  </div>
  <br>
  
  
  
  
  
  
  
    <br>
    <div class="col-md-3 col-sm-12">
    <div class="card border-warning" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/img/thumbadm.jpeg" alt="">
  
      <div class="card-body">
        <h6 class="card-header">RENAULT<br>
                               ESPACE V</h6>
  
        <h6 class="card-text" style="font-size:12px!important;">dCi 160 Energy Twin Turbo Intens EDC</h6>
        <p class="card-text" style="font-size:12px!important;">Diesel |
        2015 |
      136540 Km</p>
        <p class="card-text"></p><h4>16490.00 €</h4><p></p>
        <img class="img-fluid" src="vehicle/garantit1.png" alt="" style="max-height:74px; max-width:74px;">
        <a class="btn btn-secondary" href="vehicle/vue_vehicle.php?reference=bwfzsc4d" role="button">Voir details vehicule</a>
  
      </div>
    </div>
    <br>
  </div>
  <br>
  
  
  
  
  
  
  
    <br>
    <div class="col-md-3 col-sm-12">
    <div class="card border-warning" style="width: 18rem;">
      <img class="card-img-top" src="../../../../../assets/img/thumbadm.jpeg" alt="">
  
      <div class="card-body">
        <h6 class="card-header">MINI<br>
                               MINI CLUBMAN F54</h6>
  
        <h6 class="card-text" style="font-size:12px!important;">Cooper D 150 ch BVA8 Edition Kensington</h6>
        <p class="card-text" style="font-size:12px!important;">Diesel |
        2018 |
      73464 Km</p>
        <p class="card-text"></p><h4>22990.00 €</h4><p></p>
        <a class="btn btn-secondary" href="/home" role="button">Voir details vehicule</a>
  
      </div>
    </div>
    <br>
  </div>
  <br>
  
  
  
  </div>
  


