<div class="row">
  
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Declarer Pannes</h6>
       
      </div>
    
    <!-- Card Body -->
    <div class="card-body">
      
      <div class="example-container">
        <div class="row">
          <div class="col-md-10">
            <form >
              <div class="form-group">
                <input
                  
                  class="form-control border-dark"
                  placeholder="Marque ID"
                  formControlName="id" id="id"
                  type="hidden"
                   
                />
              </div>

              <div class="row">
                
                
                <div class="form-group col-md-6">
                  <label for="vat"> Date Panne</label
                  ><input
                   
                    class="form-control border-dark"
                    placeholder="20/04/2022"
                    type="date"

                    formControlName="dateaccident" 
                    id="dateaccident"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="vat">Description</label
                  ><textarea
                    style="text-transform:capitalize"
                    class="form-control border-dark"
                    placeholder=""
                    type="text"
                    formControlName="description" id="description"
                  ></textarea>
                </div>
               
                <div class="form-group col-md-6">
                  <label>Matricule</label>
                  <select class="form-control" formControlName="matricule" id="matricule">
                    <option value="0">-Select-</option>
                    <option *ngFor="let item of MatriculeList" value="{{item.matricule}}">{{item.matricule}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <button class="btn btn-square btn-block btn-primary" type="button"
                      >
                     <i class="fa fa-database"></i>
                  SAVE </button>
                </div>
                <div class="form-group col-md-6">
                  <button class="btn btn-square btn-block btn-danger"
                    type="button" 
                  >
                  <i class="fa fa-close"></i>
                    RESET
                  </button>
                </div>
              </div>
              </form>
              </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <!-- Pie Chart -->

</div>
