 
    <!-- Debut Header   -->

    <header class="header_area">
        <div class="main-menu">
            <nav class="navbar bg-white   navbar-expand-lg navbar-light shadow static-top">
                <a class="navbar-brand Sfautomobile" href="#"><img src="../../../assets/img/" >SENFLOTTEAUTOMOBILE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                         
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">A Propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mes Reservations</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nos Vehicules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">L'entreprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contactez-nous</a>
                        </li>
                        
                      <li class="nav-item">
                          <a class="nav-link" (click)="logout()">Logout</a>
                      </li>
                      
                        <div class="topbar-divider d-none d-sm-block"></div>
                    
                                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome {{this.prenom}}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" >
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                            </div>
                        </li>

                        
    
                    </ul>
                </div>
            </nav>
        </div>
    </header>


  
    <!--  fin Header  -->