<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Liste des Chauffeurs</h6>
         
        </div>
        <!-- Card Body -->
       
        <div class="container ">
          <div style="margin-top: 10px;">
           
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="allou" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
             
                <table mat-table [dataSource]="dataSrce"  matSort>

                                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.iduser}} </td>
                  </ng-container>

                  <!-- Nom Column -->
                  <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                    <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
                  </ng-container>

                    <!-- Prenom Column -->
                    <ng-container matColumnDef="prenom">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
                      <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
                    </ng-container>

                   <!-- Prenom Column -->
                    <ng-container matColumnDef="mail">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail </th>
                   <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
                     </ng-container>
                                         <!-- Prenom Column -->
                    <ng-container matColumnDef="numtel">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Telephone </th>
                      <td mat-cell *matCellDef="let row"> {{row.numtel}} </td>
                    </ng-container>

                    
                    <!-- Prenom Column -->
                    <ng-container matColumnDef="numeropermis">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Permis </th>
                      <td mat-cell *matCellDef="let row"> {{row.numeropermis}} </td>
                    </ng-container>

                    
                    <!-- Prenom Column -->
                    <ng-container matColumnDef="typepermis">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Permis </th>
                      <td mat-cell *matCellDef="let row"> {{row.typepermis}} </td>
                    </ng-container>

                    
                    <!-- Prenom Column -->
                    <ng-container matColumnDef="datedelivrance">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Delivrance </th>
                      <td mat-cell *matCellDef="let row"> {{row.datedelivrance | date}}  </td>
                    </ng-container>

                    
                    <!-- Prenom Column -->
                    <ng-container matColumnDef="dateexpiration">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Expiration </th>
                      <td mat-cell *matCellDef="let row"> {{row.dateexpiration | date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                      <td mat-cell *matCellDef="let row"> 
                        <button mat-icon-button color="primary" (click)="updateChauffeur()">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                      </ng-container>
  


                  <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: dColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
                </table>
                
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

             </div>
            
            
            
            
            

          </div>


        </div>
      </div>
    </div>

    <!-- Pie Chart -->
 
  </div>
