<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Liste Marques</h6>
         
        </div>
        <!-- Card Body -->
       
        <div class="container ">
          <div style="margin-top: 10px;">
           
            <mat-form-field appearance="standard">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            
            <div class="mat-elevation-z8">
             
              <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                 <!-- ID Column -->
                 <ng-container matColumnDef="nommarque">
                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque </th>
                 <td mat-cell *matCellDef="let row"> {{row.nommarque}} </td>
                 </ng-container>

                  <!-- ID Column -->
                  <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date enregistrement </th>
                    <td mat-cell *matCellDef="let row"> {{row.creationDate | date}} </td>
                    </ng-container>

                     <!-- ID Column -->
                 <ng-container matColumnDef="updationDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date modification </th>
                  <td mat-cell *matCellDef="let row"> {{row.updationDate | date}} </td>
                  </ng-container>


                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row"> 
                      <button mat-icon-button color="primary" (click)="updateMarque()" >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                    </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow> 
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

             </div>
            
            
            
            
            

          </div>

        </div>
            

    </div>

    <!-- Pie Chart -->
 
  </div>
