
<div class="title-arch ">Louer des véhicules de qualité en toute confiance</div>



<div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
<li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
<li data-target="#carouselExampleIndicators" data-slide-to="4" class=""></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100" src="../../../../../assets/img/SR1.jpg" alt="First slide">
</div>
<div class="carousel-item">
<img class="d-block w-100" src="../../../../../assets/img/SR2.jpg" alt="Second slide">
</div>
<div class="carousel-item">
<img class="d-block w-100" src="../../../../../assets/img/SR3.jpg" alt="Third slide">
</div>
<div class="carousel-item">
<img class="d-block w-100" src="../../../../../assets/img/SR4.jpg" alt="Fourth slide">
</div>
<div class="carousel-item">
<img class="d-block w-100" src="../../../../../assets/img/banner-image.jpg" alt="Fith slide">
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
