    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Sfautomobile</div>
        </a>
    
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
    
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <!-- Heading <div class="sidebar-heading">
          Vehicules
        </div> -->
       
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-car"></i>
            <span>Vehicules</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Gestion vehicules:</h6>
              <a class="collapse-item" routerLink="listmarque" >Liste marques</a>
              <a class="collapse-item" routerLink="ajoutmarque" >Ajout marques</a>
                <a class="collapse-item" routerLink="ajoutvehicule" >Ajout vehicules</a>
                <a class="collapse-item" routerLink="listevehicule" >Liste vehicules</a>
            </div>
          </div>
        </li>
    
        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>Personnels</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Gestion Personnels:</h6>
              <a class="collapse-item" routerLink="ajoutchauffeur">Ajout Chauffeur</a>
              <a class="collapse-item" routerLink="listechauffeur">Liste Chauffeur</a>
              <a class="collapse-item" routerLink="ajoutmecano" >Ajout Mecanicien</a>
              <a class="collapse-item" routerLink="listemecano">Liste Mecanicien</a>
            </div>
          </div>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <!-- Heading -->
        <div class="sidebar-heading">
          EntreeSortieVehicules
        </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Gestion Reservation</h6>

              <a class="collapse-item" routerLink="gestionreservation">Voir Reservation</a>
           
              <div class="collapse-divider"></div>
              
              <h6 class="collapse-header">Gestion Mission</h6>
              <a class="collapse-item" routerLink="ajoutmission">Ajout Mission</a>
              <a class="collapse-item" routerLink="listemission">Liste Mission</a>
            </div>
          </div>
        </li>
      <!-- Divider -->
      <hr class="sidebar-divider">
    
      <!-- Heading -->
      <div class="sidebar-heading">
        Gestion du carburant
      </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCarburant" aria-expanded="true" aria-controls="collapseCarburant">
            <i class="fas fa-fw fa-gas-pump"></i>
            <span>Carburant</span>
          </a>
          <div id="collapseCarburant" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Gestion du carburant</h6>
              <a class="collapse-item" routerLink="#">Ajout bon de carburant</a>
              <a class="collapse-item" routerLink="#">Mes bons</a>
            </div>
          </div>
        </li>
        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/statistiques">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Statistiques</span></a>
        </li>
    
        <!-- Nav Item - Tables  <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>-->
     
    
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    
      </ul>
      <!-- End of Sidebar -->