<div class="row">
  
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Formulaire de Modification de Chauffeur</h6>
         
        </div>
        <!-- Card Body -->
        <div class="card-body">
          
          <div class="example-container">
            <div class="row">
              
              <div class="col-md-10">
                <form [formGroup]="this.chauffeurservice.formDatas">
                  <div class="form-group">
                    <input
                      style="text-transform:capitalize"
                      class="form-control border-dark"
                      placeholder="Chauffeur ID"
                      formControlName="id" id="id"
                      type="hidden"
                    />
                  </div>
  
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="vat">Nom</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="Tine"
                        type="text"
                        formControlName="nom" id="nom"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Prenom</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="Assane"
                        type="text"
                        formControlName="prenom" id="prenom"
                       
                      
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Numero Permis Conduire</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="3456678"
                        type="text"
                        formControlName="numeropermis" id="numeropermis"
                      />
                    </div>
                  
                    <div class="form-group col-md-6">
                      <label for="vat">Type de permis</label>
                      <select class="form-control" formControlName="typepermis" id="typepermis">
                        <option value="POIDS LOURD">POIDS LOURD</option>
                        <option value="POIDS LEGER">POIDS LEGER</option>
                        
  
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Date delivrance</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="23/08/2019"
                        type="date"
                        formControlName="datedelivrance" id="datedelivrance"
                    
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Date d'expiration</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="20/03/2022"
                        type="date"
                        formControlName="dateexpiration" id="dateexpiration"
                    
                      />
                    </div>
                   
                    
                    <div class="form-group col-md-6">
                      <label for="vat">Mail</label
                      ><input
                        style="text-transform:lowercase"
                        class="form-control border-dark"
                        placeholder="chauffeurml@gmail.com"
                        type="email"
                        formControlName="mail" id="mail"
                    
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Numero Telephone</label
                      ><input
                        
                        class="form-control border-dark"
                        placeholder="+221 778956432"
                        type="text"
                        formControlName="numtel" id="numtel"
                    
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="vat">Password par defaut</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="paallioune"
                        type="password"
                        formControlName="password" id="password"
                    
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <label for="vat">Adresse</label
                      ><input
                        style="text-transform:capitalize"
                        class="form-control border-dark"
                        placeholder="Medina rue 41X28"
                        type="text"
                        formControlName="address" id="address"
                    
                      />
                    </div>
                    
                   
                    
                  </div>
  
                  
  
                  <div class="row">
                    <div class="form-group col-md-6">
                      <button
                      class="btn btn-square btn-block btn-primary"
                      type="button" 
                    > <i class="fa fa-database"></i>
                      SAVE
                    </button>
                    </div>
                    <div class="form-group col-md-6">
                      <button
                        class="btn btn-square btn-block btn-danger"
                        type="button" 
                      >
                        RESET
                      </button>
                    </div>
                  </div>
              
                </form>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>

    <!-- Pie Chart -->
 
  </div>
